.git
.github
.gitlab-ci.yml
.mvn
src
reports
zap

target/*.original
target/classes
target/generated-sources
target/generated-test-sources
target/maven-archiver
target/maven-status

*.md
*.log
*.tar

trivy-reports
fuzzing
fuzzing-reports
zap-reports